.terragrunt-cache/
.terragrunt-cache/
**/.terragrunt-cache/
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
git_runner
.DS_Store
**/.DS_Store

# Checkov local reports
checkov-real.txt
checkov-demo.txt
checkov-real-summary.md
checkov-demo-summary.md
